@import url("https://fonts.googleapis.com/css?family=Dosis|Maven+Pro|Poppins:300|Raleway|Titillium+Web:300");





#container {
  position: relative;

}

#imageWrapper{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1504275107627-0c2ba7a43dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80');



}

#innerImage{
  position: absolute;
  z-index: 1;
}


#mainImage {
  position: relative;

}

.portContainer {
  position: relative;
  width: auto;
}

#portImage {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #999999;
}

.portContainer:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#homeButton{
  transition: .5s ease;
  text-decoration: none; 
  color: #f2f2f2
}

#homeButton:hover{
  color: #d9d9d9;
  text-decoration: none;
}

#homeButton2{
  transition: .5s ease;
  text-decoration: none; 
  color: #404040

}

#homeButton2:hover{
  color: grey;
  text-decoration: none;
}


#navColor{
  color: white;
}


header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  header .overlay {
    position: absolute;
    background-color: black;
    opacity: 0;
  }
  
.page{
  position: absolute;
  left: 0;
  right: 0;
}

.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit{
  opacity: 1;
}

fade-exit.fade-exit-active{
  opacity: 0;
  transition: opacity 150ms linear;
}

#mainWrapper{
  width: 100vw;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://lh3.googleusercontent.com/2Wnf6Q5TZspeYnfvUNNN38rWJcRkU8r0LERoiMJIpmKkF4IS0JQw0w24kAQ9XEqAanbWAWwVBlS6zG97CvffcHpCQhXhJ-eFijBOfhPQKsQfzE3iIYSDmTc2_ww-X3aR4F94LUzoJ94Qa1V_uk26amfRc3M0Vya_x8U4nYeAJoD5j3Pp1qtVlgtk1BWx-tBQn-9iL30vIEO822Ll1lfw4BCdQWAJxXjqbboltlOTTI1QakVkg_YLvhzAVSWsAUISqsUyVg6bb8TaddcDKsGxTG8Y64NZH3ImF03FgqadovbMxS6eaeGjNMvt6i9Wngdq94gM396x_CedSW7BhZfyKVHxa-1aJDZ_ZTCR1s0dbzl9oXvqd9xfCNdgJf7G_35Eo1HsyblSqH5SNFKaceyt3A4V_CDGP-m5KqBkaiTdCQM9YXD-HdMIANMhUBNGZseagkiQ0ziyKr1FmOURpQcZpWxJdzGCWJ74PyIMTOM8MkF3_0m6hLdIDVYOBW3kV2Tro03tqPZnYAQbOHU9VCNBv_c5VnNAECkGfZyEN-6q4Z2nMmVimXv-BJYSv8R4hMcieSd_SGLJnrQmuXy9SIMlWnOjeuqL2E-GCi5DwtL3MYCFFJ2Dba23NN1v99EbyRh9VlL5AocsJsLKPlMgAyN6QIF-mnBaboQ=w1125-h750-no");
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 50vh;
  width: 100vw;
}

#learnMoreWrapper{
  width: 100%;
  margin-right: 0;
}

#roText{
  font-family: 'Dosis', sans-serif;
  color: black;
}

#homeText{
  font-family: 'Raleway', sans-serif;
}

#horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#demoHead{
  height: 100vh;
  text-align: center;  

}

#demoHeadWrapper{
  margin: 0 auto;
  

}

#demoWrapper{
  position: relative;
}

#bodyWrapper{
  position: absolute;
}

#demoHeadText{
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 

}

#arrow{
  position: absolute;
  bottom: 5%;
}

#footer{
  background-color: #262626;
  color: #c9c9c9;
}

#parkitP{
  font-family: 'Titillium Web', sans-serif;
}

#parkitTitle{
  font-family: 'Titillium Web', sans-serif;
  font-size: 300%;
}
 
#demoSpeach{
  font-family: 'Titillium Web', sans-serif;

}

#homeButton:link {
  text-decoration: none;
}
#homeButton:visited {
  text-decoration: none;
}
#homeButton:hover {
  text-decoration: none;
}
#homeButton:active {
  text-decoration: none;
}

#homeButton2:link {
  text-decoration: none;
}
#homeButton2:visited {
  text-decoration: none;
}
#homeButton2:hover {
  text-decoration: none;
}
#homeButton2:active {
  text-decoration: none;
}



